Repository PeggyJV/gravity-bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jackzampolin, @mvid, @levicook, @zmanian, @hannydevelop, @jtremback

making gorc subcommand modules public
  orchestrator/src/lib.rs
Owners: @zmanian, @levicook, @hannydevelop

making gorc subcommand modules public
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
Owners: @zmanian, @levicook, @hannydevelop

making gorc subcommand modules public
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
Owners: @zmanian, @levicook, @hannydevelop

making gorc subcommand modules public
  orchestrator/gorc/src/commands.rs
Owners: @zmanian, @levicook, @hannydevelop

create gorc config and mount startup script
  testnet/go.mod
  testnet/go.sum
  testnet/gorc_test_bootstrap.sh
  testnet/with_pristine_e2e_environment_test.go
Owners: none

error check
  testnet/with_pristine_e2e_environment_test.go
Owners: none

update sdk
  testnet/go.mod
  testnet/go.sum
Owners: none

path
  testnet/with_pristine_e2e_environment_test.go
Owners: none

path
  testnet/with_pristine_e2e_environment_test.go
Owners: none

dir fix
  module/cmd/gravity/cmd/root_test.go
Owners: @jackzampolin, @mvid, @levicook

mount on working dir
  testnet/with_pristine_e2e_environment_test.go
Owners: none

double input
  module/cmd/gravity/cmd/root_test.go
Owners: @jackzampolin, @mvid, @levicook

remove cruft
  orchestrator/Dockerfile
  orchestrator/ci.Dockerfile
  orchestrator/startup.sh
Owners: @zmanian, @levicook, @hannydevelop

no more startup script
  orchestrator/Dockerfile
Owners: @zmanian, @levicook, @hannydevelop

fix SetHooks don't work
  module/x/gravity/keeper/ethereum_event_handler.go
  module/x/gravity/keeper/ethereum_event_vote.go
  module/x/gravity/keeper/hooks.go
  module/x/gravity/keeper/keeper.go
Owners: @jackzampolin, @mvid, @levicook

Logging of the fee struct
  orchestrator/Cargo.lock
  orchestrator/cosmos_gravity/src/send.rs
  orchestrator/gorc/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

Warn on lack of funds instead of exiting
  orchestrator/gravity_utils/src/connection_prep.rs
Owners: @zmanian, @levicook, @hannydevelop

fix build
  module/x/gravity/keeper/ethereum_event_handler_test.go
Owners: @jackzampolin, @mvid, @levicook

x/gravity: add events
  module/x/gravity/abci.go
  module/x/gravity/types/events.go
Owners: @jackzampolin, @mvid, @levicook

x/gravity: fix tests?
  module/x/gravity/abci.go
Owners: @jackzampolin, @mvid, @levicook

add ssl to gorc main
  orchestrator/gorc/src/bin/gorc/main.rs
Owners: @zmanian, @levicook, @hannydevelop

fixing openssl crate
  orchestrator/gorc/Cargo.toml
  orchestrator/gorc/src/bin/gorc/main.rs
Owners: @zmanian, @levicook, @hannydevelop

add blocks_to_search_to_config
  orchestrator/Cargo.lock
  orchestrator/gorc/src/commands/orchestrator/start.rs
  orchestrator/gorc/src/config.rs
  orchestrator/orchestrator/src/main.rs
  orchestrator/orchestrator/src/main_loop.rs
  orchestrator/relayer/src/find_latest_valset.rs
  orchestrator/relayer/src/main.rs
  orchestrator/relayer/src/main_loop.rs
Owners: @zmanian, @levicook, @hannydevelop

Add blocks to search to configuration. This will make it easier if the gravity contract has been deployed some time ago.
  orchestrator/gorc/gorc.toml
Owners: @zmanian, @levicook, @hannydevelop

Refactor logic call loop
  orchestrator/orchestrator/src/main_loop.rs
Owners: @zmanian, @levicook, @hannydevelop

Comment out fees
  orchestrator/gravity_utils/src/types/logic_call.rs
  orchestrator/relayer/src/logic_call_relaying.rs
Owners: @zmanian, @levicook, @hannydevelop

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

module/  @jackzampolin @mvid @levicook
orchestrator/ @zmanian @levicook @hannydevelop
solidity/ @zmanian @jackzampolin @jtremback
tests/  @mvid @levicook @jackzampolin
