Repository PeggyJV/gravity-bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jackzampolin, @mvid, @levicook, @zmanian, @hannydevelop, @jtremback

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

module/  @jackzampolin @mvid @levicook
orchestrator/ @zmanian @levicook @hannydevelop
solidity/ @zmanian @jackzampolin @jtremback
tests/  @mvid @levicook @jackzampolin

Intitial commit of docs from the althea branch
  docs/design/arbitrary-logic.md
  docs/design/bootstrapping.md
  docs/design/ethereum-signing.md
  docs/design/incentives.md
  docs/design/messages.md
  docs/design/mint-lock.md
  docs/design/oracle.md
  docs/design/overview.md
  docs/design/parameters.md
  docs/design/relaying-semantics.md
  docs/developer/code-structure.md
  docs/developer/environment-setup.md
  docs/developer/hotspots.md
  docs/developer/modifying-integration-tests.md
Owners: none

WIP update to code structure
  docs/developer/code-structure.md
Owners: none

cleaning up testnet
  testnet/go.mod
  testnet/go.sum
Owners: none

cleaning module
  orchestrator/Cargo.lock
  orchestrator/orchestrator/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

bumping the version of relayer after renaming bin from somm_relayer to relayer
  orchestrator/relayer/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

bumping the version of gorc to include relayer and orchestrator changes
  orchestrator/gorc/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

bumping the version of gorc to include relayer and orchestrator changes
  orchestrator/gorc/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

WIP updates to messages
  docs/design/messages.md
Owners: none

only one tag for integration tests
  .github/workflows/integration-tests.yml
Owners: none

Flesh out idea
  module/x/gravity/keeper/ethereum_event_handler.go
  module/x/gravity/types/expected_keepers.go
Owners: @jackzampolin, @mvid, @levicook

Proxy chain
  module/x/gravity/keeper/ethereum_event_handler.go
  solidity/contracts/Gravity.sol
Owners: @jackzampolin, @mvid, @levicook, @zmanian, @jtremback

Address address issue
  module/proto/gravity/v1/msgs.proto
  module/x/gravity/keeper/ethereum_event_handler.go
  module/x/gravity/types/ethereum_event.go
  module/x/gravity/types/msgs.pb.go
Owners: @jackzampolin, @mvid, @levicook

Address address forwarding
  solidity/contracts/Gravity.sol
Owners: @zmanian, @jackzampolin, @jtremback

test
  orchestrator/Cargo.lock
  orchestrator/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

wip support in the orchestrator for SendToIBCEvents
  orchestrator/cosmos_gravity/src/build.rs
  orchestrator/gravity_proto/src/prost/gravity.v1.rs
  orchestrator/gravity_utils/src/types/ethereum_events.rs
Owners: @zmanian, @levicook, @hannydevelop

formatting
  orchestrator/cosmos_gravity/src/lib.rs
  orchestrator/ethereum_gravity/src/utils.rs
  orchestrator/gorc/src/application.rs
  orchestrator/gorc/src/commands/keys/cosmos/recover.rs
  orchestrator/gorc/src/commands/keys/cosmos/rename.rs
  orchestrator/gorc/src/commands/keys/cosmos/show.rs
  orchestrator/gorc/src/commands/keys/eth/recover.rs
  orchestrator/gorc/src/commands/orchestrator.rs
  orchestrator/gorc/src/commands/orchestrator/start.rs
  orchestrator/gorc/src/commands/tx/cosmos.rs
  orchestrator/gorc/src/utils.rs
  orchestrator/gravity_proto/src/lib.rs
  orchestrator/orchestrator/src/lib.rs
  orchestrator/orchestrator/src/metrics.rs
  orchestrator/register_delegate_keys/src/main.rs
  orchestrator/relayer/src/batch_relaying.rs
  orchestrator/test_runner/src/utils.rs
Owners: @zmanian, @levicook, @hannydevelop

Remove relayer incentives
  docs/design/incentives.md
  docs/design/messages.md
  docs/developer/code-structure.md
Owners: none

Improvements to code structure docs
  docs/developer/code-structure.md
Owners: none

Add some docs for deploying ERC20 assets to ethereum
  docs/developer/code-structure.md
Owners: none

More documentation of the ERC20 contract flow
  docs/developer/code-structure.md
Owners: none

More updates to arbitrary logic
  docs/design/arbitrary-logic.md
  docs/design/messages.md
  docs/developer/hotspots.md
Owners: none

Delegation updates
  docs/design/ethereum-signing.md
Owners: none

Fix solidity build
  solidity/contracts/Gravity.sol
Owners: @zmanian, @jackzampolin, @jtremback

WIP fees to distribtuion
  module/app/app.go
  module/proto/gravity/v1/genesis.proto
  module/x/gravity/keeper/ethereum_event_handler.go
  module/x/gravity/keeper/keeper.go
  module/x/gravity/types/expected_keepers.go
  module/x/gravity/types/genesis.go
  module/x/gravity/types/genesis.pb.go
Owners: @jackzampolin, @mvid, @levicook

support custom hd_path
  orchestrator/client/src/main.rs
  orchestrator/orchestrator/src/main.rs
  orchestrator/register_delegate_keys/src/main.rs
Owners: @zmanian, @levicook, @hannydevelop

make DEFAULT_HD_PATH constant
  orchestrator/orchestrator/src/main.rs
Owners: @zmanian, @levicook, @hannydevelop

move DEFAULT_HD_PATH to a shared place
  orchestrator/client/src/main.rs
  orchestrator/cosmos_gravity/src/lib.rs
  orchestrator/gorc/src/config.rs
  orchestrator/orchestrator/src/main.rs
  orchestrator/register_delegate_keys/src/main.rs
Owners: @zmanian, @levicook, @hannydevelop

pushing cosmos_gravity_proto to crates.io
  orchestrator/gravity_proto/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

publishing cosmos_gravity to crates.io
  orchestrator/cosmos_gravity/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

publishing cosmos_gravity to crates.io
  orchestrator/cosmos_gravity/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

publishing cosmos_gravity to crates.io
  orchestrator/cosmos_gravity/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

publishing cosmos_gravity to crates.io
  orchestrator/cosmos_gravity/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

publishing cosmos_gravity to crates.io
  orchestrator/cosmos_gravity/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

I need help with cosmos-sdk-proto version
  orchestrator/Cargo.lock
  orchestrator/gravity_proto/Cargo.toml
Owners: @zmanian, @levicook, @hannydevelop

Fix compilation issue and properly allocate fees
  module/app/app.go
  module/x/gravity/keeper/ethereum_event_handler.go
  module/x/gravity/keeper/keeper.go
  module/x/gravity/types/expected_keepers.go
  module/x/gravity/types/genesis.go
Owners: @jackzampolin, @mvid, @levicook

Fix testnet go.mod
  testnet/go.mod
  testnet/go.sum
Owners: none

Update module/cmd/gravity/cmd/gentx.go
  module/cmd/gravity/cmd/gentx.go
Owners: @jackzampolin, @mvid, @levicook

orchestrator to gorc
  orchestrator/Dockerfile
  orchestrator/startup.sh
Owners: @zmanian, @levicook, @hannydevelop

making gorc subcommand modules public
  orchestrator/gorc/src/commands.rs
Owners: @zmanian, @levicook, @hannydevelop

making gorc subcommand modules public
  orchestrator/Cargo.toml
  orchestrator/src/lib.rs
Owners: @zmanian, @levicook, @hannydevelop
